<aside class="ph-sidebar">
  <div class="sidebar-section">
    <h3>{{theme-setting "sidebar_title"}}</h3>
    <p>{{theme-setting "sidebar_text"}}</p>
  </div>

  <div class="sidebar-section">
    <h3>Links</h3>
    {{{theme-setting "sidebar_links_html"}}}
  </div>
</aside>
